*{padding:0;margin:0;box-sizing:border-box}
body,html{height:100%;max-height:100%}

body {
    font-family:sans-serif;
    background-image:url('/static/img/background_one.jpg');
    background-size:cover;
    background-position:bottom-right;
    overflow-x:hidden;
    background-attachment:fixed;
}

div.header {
    width:100%;
    height:13%;
    min-height:70px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05), 0 0 0 3px rgba(63, 63, 68, 0.1);
    text-align:center;
    padding-top:20px;
    font-size:18px;
    color:#fff;
}
div.wrapper {
    width:90%;
    margin:0 auto;
    padding-top:20px;
}
div.wrapper div.city-weather-card {
    width:80%;
    background-color:rgba(0,0,0,0.26);
    padding:20px;
    color:#fff;
    margin:10px auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius:3px;
}
div.city-weather-card-header div.header-timeanddate {
    padding:5px;
}
div.city-weather-card-header div.header-timeanddate .timeNow{
    float:left;
}
div.city-weather-card-header div.header-timeanddate .dateNow {
    float:right;
}
div.city-weather-card div.city-weather-card-content {
    clear:both;
    width:100%;
    padding:5px;
    padding-top:20px;
    padding-bottom:30px;
}
div.city-weather-card div.city-weather-card-content span {
    font-size:22px;
    font-weight:bolder;
    width:33%;
    float:left;
    padding:5px;
    text-align:center;
    text-transform: capitalize;
}
div.city-weather-card div.city-weather-card-content span.content-weather-icon {
    text-align:right;
    padding-right:10px;
}
div.wrapper div.analytics-button {
    width:60%;
    text-align:center;
    margin:20px auto;
    padding:20px;
    color:rgba(7, 78, 133, 0.8);
    background-color:#fff;
    font-size:20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius:5px;
}
a{text-decoration:none;}
