<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 

    <title>WEATHA_BACKEND</title>

    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/weatha.loader.css') }}">
    
    <style>
        body {
           
        }
    </style>
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>


</head>
<body>

    <div id="splashScreen">
        <div id="innerScreen">
            <div id="appText">
                <h1><i class="fa fa-sun"></i> WEATHA</h1>
                <h3>Weather Analysis And Forecasting For Khandesh Region</h3>
                <div class="loader"></div>
            </div>
            <div class="footer">
                <p>Designed And Developed By Team_DASH</p>
            </div>
        </div>
    </div>
    




    <div class="header">
    
        <h1><i class="fa fa-sun"></i> Weatha</h1>

    </div>
    
    <script src="{{ url_for('static',filename='js/weatha.loader.js') }}"></script>
</body>
</html>